<form action="/users" method="post" accept-charset="UTF-8" data-turbo="false">
  <input
  type="hidden"
  name="authenticity_token"
  value="<%= form_authenticity_token %>"
  >
  <label for="name">Name:</label>
  <input type="text" id="name" name="user[name]"><br>
  <label for="email">Email:</label>
  <input type="text" id="email" name="user[email]"><br>
  <label for="password">Password:</label>
  <input type="password" id="password" name="user[password]"><br>
  <input type="submit" value="Submit">
</form>